body
{
    
    margin: 0;
}

@font-face
{
    font-family: "Kablammo";
    src: url("./assets/Kablammo.ttf");
    /* Licence: ./assets/OFL.txt */
}

header
{
    width: 100%;
    position: absolute;
    background-image: url("assets/4.jpg");
    height:100px;
}

header a
{
    color: var(--sidebar-colour);
    position: absolute;
    right: 1em;
    top: 70px;
}

h1
{
    font-family:"Kablammo";
    text-align: center;
    font-size:35px;
    backdrop-filter: blur(2px);
    color: white;
}


aside
{
    width: 20%;
    position: absolute;
    top: 100px;
    background-image: url("assets/2.jpg");
    height:88%;    
}
#timer
{
    position: absolute;
    text-align: center;
    font-size: 40pt;
    font-family: 'Courier New', Courier, monospace;
}
.right
{
    width:20%;
    position: relative;
    top: 100px;
    left:80%;
    background-image: url("assets/1.jpg");
    height: 642px;
}
main
{
    background: "./assets/empty.png";
    position: absolute;
    top: 100px;
    left: 20%;
    width: 60%;
    height: 88%;
}
#game_board
{
    aspect-ratio: 1;
    background: #f9f9f960;
    position: absolute;
    top:10%;
    left: 22%;
    height: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}
#game_boardcontainer{
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    background-image: url("assets/3.jpg");
}
#game_board tr
{
    text-align: center;
    text-size-adjust: 30px;
    border: 1px solid black;
}
#game_board td
{
    border: 1px solid beige;
    width: 50px;
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
#empty
{
    background-color: white;
}

#result_dialog
{
    background: none;
    border: none;
    color: white;
    filter: drop-shadow(4px 2px 2px black);
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

#result_dialog::backdrop
{
    backdrop-filter: blur(2px); /* This won't work in Firefox yet */
}

#result_dialog h2
{
    background-color:rgb(241, 148, 41);
    font-family: "Creepster";
    font-size: 100pt;
    margin: 0;
    margin-top:10%;
}

#result_message
{
    font-size: 30pt;
}
#initial_dialog
{
    background: none;
    border: none;
    color: white;
    filter: drop-shadow(4px 2px 2px black);
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}
#initial_dialog h2
{
    background-color:rgb(241, 148, 41);
    font-family: "Creepster";
    font-size: 100pt;
    margin: 0;
    margin-top:10%;
}
#initial_message
{
    font-size: 30pt;
}
#game_time
{
    font-size: 30pt;
}